@import 'tailwindcss';
@plugin '@tailwindcss/typography';

/* fonts body */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./assets/fonts/Inter-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./assets/fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./assets/fonts/Inter-Medium.woff2') format('woff2');
}

/* fonts heading */
@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./assets/fonts/PlusJakartaSans-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./assets/fonts/PlusJakartaSans-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('./assets/fonts/PlusJakartaSans-ExtraBold.woff2') format('woff2');
}

@theme {
    --color-background: var(--background);
    --color-primary: var(--primary);

    /* fonts */
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-heading: 'Plus Jakarta Sans', sans-serif;
}

:root{
    --background: oklch(.09 .01 265);
    --primary: oklch(.968 .007 247.896);
}